<head>
	<title>Doyle Rules</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script src="https://use.fontawesome.com/6cdb7979f7.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>