<div class="header">
	<nav class="navbar">
		<div>
			<a href="/">Home</a>
			<a href="/bio">Bio</a>
			<a href="/shows">Shows</a>
			<a href="/contact">Contact</a>
			<% if(loggedIn) { %>
				<a href="/account">Account</a>
				<a href="/logout">Logout</a>
			<% } %>
		</div>
	</nav>
</div>