@font-face {
  font-family: horror;
  src: url("/fonts/tt/green fuz.ttf"); }

body {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Montserrat', sans-serif; }

.overlay {
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  color: #ffffff;
  background-color: #de0e0e;
  border-color: #880000;
  width: 50%;
  margin: auto; }

.logo {
  width: 60%; }

.textBoxL {
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 600px;
  max-width: 600px;
  min-width: 500px;
  height: 300px;
  min-height: 25px;
  max-height: 300px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 140%;
  overflow: scroll;
  overflow-x: hidden;
  border: 0px; }

.textBoxS {
  flex-direction: column;
  resize: auto;
  cursor: text;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 50px;
  max-width: 600px;
  min-width: 500px;
  height: 25px;
  min-height: 25px;
  max-height: 300px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 140%;
  overflow: scroll;
  overflow-x: hidden;
  border: 0px; }

@media screen and (max-width: 600px) {
  .header nav div a:not(:first-child):not(:last-child) {
    display: none; }
  .responsive {
    position: relative; }
    .responsive div a {
      float: none;
      display: inline block !important;
      width: 100%;
      text-align: left; }
  .icon {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    display: block !important; } }

.icon {
  display: none; }

.header {
  font-family: 'futura-pt-condensed',Futura,sans-serif;
  transition: margin 250ms,max-height 250ms; }
  .header nav {
    padding: 15px; }
    .header nav div {
      list-style-type: none;
      padding: 0px;
      display: inline-flex; }
      .header nav div a {
        font-size: 25px;
        font-family: horror;
        height: 50px;
        width: 80px;
        line-height: 50px;
        transition: .5s;
        text-decoration: none;
        color: white;
        padding-right: 15px;
        padding-left: 15px; }
        .header nav div a:hover {
          background: #323232;
          cursor: pointer;
          text-shadow: 0 0 10px red; }

.headline h2 {
  font-style: italic;
  text-shadow: 0 0 5px red; }

.homeCardsContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center; }

.homeCard {
  min-width: 250px;
  min-height: 400px;
  height: 400px;
  width: 600px;
  border: 5px white solid;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px; }
  .homeCard h2 {
    text-shadow: 0 0 5px red; }

.links {
  margin-bottom: 10px; }
  .links a {
    color: white;
    padding-right: 15px;
    padding-left: 15px; }
    .links a:hover {
      cursor: pointer;
      text-shadow: 0 0 10px red; }
    .links a i {
      font-size: 50px; }

.bioContainer {
  width: 50%;
  margin: auto; }

.showImage {
  background-image: url("../images/band1edit.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 600px;
  margin: auto;
  transition: .3s; }
  .showImage:hover {
    background-image: url("../images/band2edit.jpg"); }

.homeImage {
  background-image: url("../images/band3edit.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 600px;
  margin: auto; }

.bioImage {
  background-image: url("../images/band4edit.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
  margin: auto; }

.footer {
  margin-top: 40px; }
