<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
	<% include ../partials/header %>
	<img src="/images/logo.jpg" class="logo">
	<br>
	<div class="bioImgContainer">
		<div class="bioImage1">		
		</div>
		<div class="bioImage2">		
		</div>
		<div class="bioImage3">	
		</div>
	</div>
	<br>
	<div class="bioContainer">
		<%= content.bio %>
	</div>
	<br>
	<br>
	Guitar/Backing Vocals: Nicholas "Boka" Hrboka
	<br>
	Drums: AJ Graves
	<br>
	Bass/Backing Vocals: Chainsaw
	<br>
	Vocals: Ryan Vuckovich
	<br>
	<br>
	<br>
	<br>
	<% include ../partials/footer %>
</body>
</html>