<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body>
	<% include ../partials/header %>
	<img src="/images/logo.jpg" class="logo">

	<p>For booking, fill out the form below.</p>

	<form action="/contact" method="POST">
		Name:
		<br>
		<textarea type="text" class="textBoxS" rows="10" cols="50" name="contactName" placeholder="Name" required></textarea>
		<br>
		Email:
		<br>
        <textarea type="text" class="textBoxS" rows="10" cols="50" name="contactEmail" placeholder="Email" required></textarea>
        <br>
        Message:
        <br>
        <textarea type="text" class="textBoxL" rows="10" cols="50" name="contactMessage" placeholder="Message" required></textarea>
        <br>
        <input type="submit" name="Submit">
	</form>
	<br>
	<br>
	<p>Or contact one of us directly:</p>
	
	<strong>Boka</strong>
	(310) 999-9634
	<br>
	<br>
	<strong>AJ</strong>
	(310) 654-9188
	<br>
	<br>
	<strong>Ryan</strong>
	(310) 710-2356
	<br>
	<br>
	<strong>doylerulesmisfitstribute@gmail.com</strong>
	<br>


	<% include ../partials/footer %>
</body>
</html>